html, body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
  max-width: 800px;
}

table {
  border-collapse: collapse;
}

table, tr, td, th {
  border: 1px solid black;
}

th, td {
  padding: 2px;
  width: 120px;
}

th {
  width: 3em;
}

.unset {
  background-color: gray;
}

.free {
  background-color: green;
}

.maybe {
  background-color: orange;
}

.occupied {
  background-color: red;
}

.unset-striped {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255,255,255,.5) 5px, rgba(255,255,255,.5) 10px);
}
.free-striped {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(0,255,0,.5) 5px, rgba(0,255,0,.5) 10px);
}
.maybe-striped {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255,255,0,.5) 5px, rgba(255,255,0,.5) 10px);
}
.occupied-striped {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255,0,0,.5) 5px, rgba(255,0,0,.5) 10px);
}

.unset.highlight {
}

.free.highlight {
}

.maybe.highlight {
}

.occupied.highlight {
}

.highlight {
  font-weight: bold;
  text-shadow: black 0 0 1ex;
  color: white;
}

#controlPanel {
  line-height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexflow {
  display: flex;
  align-items: center;
}

.flexaround {
  justify-content: space-around;
}

#datepicker {
  margin-left: 1ex;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10ex;
  border: 1px solid black;
  border-radius: 1ex;
  height: 2em;
  margin: 0.2ex;
  cursor: pointer;
}

.button.smallerButton {
  background-color: gray;
  width: 6ex;
}

.button:hover, #datepicker:hover {
  box-shadow: 0 0 4px black;
}

#datepicker:hover:disabled {
  box-shadow: none;
}

.editable {
  cursor: pointer;
}

.pencilClass:hover {
  color: white;
}

.invisible {
  visibility: hidden;
}

td input {
  margin-right: 2px;
}

/*
diagonal stripes
background-color: gray;
background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
*/