.App {
  text-align: center;
  max-width: 880px;  
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
}

table,
tr,
td,
th {
  border: 1px solid black;
}

th {
  width: 3em;
}

.unset {
  background-color: #aaa;
}

.free {
  background-color: green;
}

.maybe {
  background-color: orange;
}

.occupied {
  background-color: red;
}

.unset-striped {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, .5) 5px, rgba(255, 255, 255, .5) 10px);
}

.free-striped {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(0, 255, 0, .5) 5px, rgba(0, 255, 0, .5) 10px);
}

.maybe-striped {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 0, .5) 5px, rgba(255, 255, 0, .5) 10px);
}

.occupied-striped {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 0, 0, .5) 5px, rgba(255, 0, 0, .5) 10px);
}

.flexflow {
  display: flex;
  align-items: center;
}

.flexaround {
  justify-content: space-around;
}

.editable {
  cursor: pointer;
}

.invisible {
  visibility: hidden;
}

td {
  min-width: 72px;
}

td input {
  margin-right: 2px;
}

.paddingth {
  padding-left: 2ex;
  padding-right: 2ex;
}

/*
diagonal stripes
background-color: gray;
background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
*/

.loginform {
  display: flex;
  flex-direction: column;

  max-width: 256px;  
  margin-left: auto;
  margin-right: auto;
}
